.cart {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
}

.empty-card {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap:20px;
}

.empty-card img {
    width: 90%;
    max-width: 300px;

    margin-top: 40px;

}
.cartCard-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.empty-card h1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
