.contact{
    width: 100%;
    min-width: 100vh;
    display:flex;
    align-self: center;
    justify-content: center;

}

.contact form {
    max-width: 500px;
    width: 90%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
}

.contact form input,textarea{
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px solid rgb(23,28,33);
    color: rgb(23,28,33);
    outline: none;
}
.contact form button{
    padding: 10px 20px;
    background-color: rgb(23,28,33);
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}
.contact form button :hover{
    opacity: 0.7;
}