.home{
    width: 100%;
    max-height: 100vh;
    background-color: aliceblue;

}
.hero-bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.hero-bg img{
    width: 90%;
    box-shadow: 2px 2px 10px rgb(22,27,32);
    border-radius: 20px;
}
.category-section{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;
}
.category-card{
    width: 200px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    transition: all 0.4s;
    cursor: pointer;
   
    padding: 10px;
}
.category-card:hover{
    box-shadow: 2px 2px 10px rgb(0,0,0,0.457);
}
.category-card img{
    width: 100%;
}
.product-section{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}
.home h1{
    text-align: center;
    padding: 50px;
    color:black;
    
    
}